ej4_3enraya.dtd

<!ELEMENT partida (jugadores, turnos)>
<!ELEMENT jugadores (jugador+)>
<!ELEMENT jugador (nombre, ficha)>
<!ELEMENT nombre (#PCDATA)>
<!ELEMENT ficha (#PCDATA)>
<!ELEMENT turnos (turno+)>
<!ELEMENT turno (jugador, posicion)>
<!ELEMENT posicion (#PCDATA)>

<!ATTLIST jugador id ID #REQUIRED>
<!ATTLIST turno numero CDATA #REQUIRED>
<!ATTLIST turno jugador_id IDREF #REQUIRED>
